#CN_ShowHide {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 35px;
	height: 35px;
	z-index: 999;
	cursor: pointer;
	background: #474855 url("../images/top-bg.gif") repeat-x 0 0;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	-khtml-border-bottom-left-radius:10px;
}
#CN_ShowHide img {
	margin: 5px;
}

#CN_CompactNavigator {
    font-family: arial, sans-serif, serif;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 998;
    background: #474855 url("../images/top-bg.gif") repeat-x 0 0;
    width: 130px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    -khtml-border-bottom-left-radius:10px;
}

#CN_CompactNavigator p,
#CN_CompactNavigator li {
	color: #fff;
	font-size: 8pt;
}
#CN_CompactNavigator a {
	color: #ccc;
}
#CN_CompactNavigator a:hover {
	color: #fff;
}

#CN_CompactNavigator #CN_PageType {
	font-weight: bold;
	font-size: 10pt;
	margin: 0 0 1.5em 0;
}

#CN_CompactNavigator #CN_SwitchView {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}

#CN_CompactNavigator #CN_Credentials {
	margin: 0;
}
